// 默认主题
$font-color: #fff; 
$background-color: #000; 

// 主题1
$theme1-font-color: #3414d4; 
$theme1-background-color: #c8cf6b; 

// 主题2
$theme2-font-color: #ff0000;
$theme2-background-color: #007bff; 
